<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group row">

        <label for="exercises" class="col-sm-2 col-lg-1 col-form-label">Exercise</label>
        <div class="col-sm-10 col-lg-2">
          <select name="exercises" class="form-control" [(ngModel)]="selectedExerciseId" (ngModelChange)="onSelectionChanged()">
            <option [ngValue]="0" selected>Overview</option>
            <option *ngFor="let exercise of model.exercises" [ngValue]="exercise.exerciseId">
              Exercise {{exercise.number}}
            </option>
          </select>
        </div>

        <label for="exercises" class="col-sm-2 col-lg-1 col-form-label">User</label>
        <div class="col-sm-10 col-lg-2">
          <select name="users" class="form-control" [(ngModel)]="selectedUserId" (ngModelChange)="onSelectionChanged()">
            <option *ngFor="let user of model.users" [ngValue]="user.id">
              {{user.fullName}}
            </option>
          </select>
        </div>

      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
