<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-xl-7">
        <div class="card">
          <h5 class="card-header">
            Your test outcomes <small>({{model.totalGreenTests}} / {{model.totalTests}} tests)</small>
          </h5>
          <div class="card-body">

            <div class="row" *ngIf="teamId > 0">
              <div class="col-lg-6" *ngFor="let assignment of model.assignmentSummaries">
                <div class="card mb-2">
                  <div class="card-body">
                    <assignment-summary [model]="assignment"></assignment-summary>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="teamId <= 0">
              You must <a [routerLink]="['../teams']">join a team</a> to see your test outcomes.
            </div>
            <ngx-loading [show]="loadingSummary"></ngx-loading>
          </div>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="card">
          <h5 class="card-header">
            Number of passed tests of others
          </h5>
          <div class="card-body">
            <div class="row">
              <div class="col-12" *ngFor="let assignment of statistics.assignmentStatistics">
                <div class="card mb-2">
                  <div class="card-body">
                    <assignment-statistics [model]="assignment"></assignment-statistics>
                  </div>
                </div>
              </div>
            </div>
            <ngx-loading [show]="loadingStatistics"></ngx-loading>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>