<div class="row">
  <div class="col-md-12">
    <h5>{{course.name}}<span class="small" *ngIf="userProfile.isLector()"> (<a routerLink="config">configure</a>)</span></h5>
    <form>
      <div class="form-group row">
        <label for="chapters" class="col-md-2 col-xl-1 col-form-label" *ngIf="course.chapters.length > 0">Chapter</label>
        <div class="col-md-10 col-xl-2" *ngIf="course.chapters.length > 0">
          <select name="chapters" class="form-control" [(ngModel)]="selectedChapter" (ngModelChange)="onChapterChanged()">
            <option *ngFor="let chapter of course.chapters" [ngValue]="chapter">
              {{chapter.description}}
            </option>
          </select>
        </div>

        <label for="projects" class="col-md-2 col-xl-1 col-form-label" *ngIf="course.projects.length > 0">Project</label>
        <div class="col-md-10 col-xl-2" *ngIf="course.projects.length > 0">
          <select name="projects" class="form-control" [(ngModel)]="selectedProject" (ngModelChange)="onProjectChanged()">
            <option *ngFor="let project of course.projects" [ngValue]="project">
              {{project.description}}
            </option>
          </select>
        </div>
      </div>
    </form>
    <ngx-loading [show]="loading"></ngx-loading>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
