<div class="row">
  <div class="col-12">
    <form>
      <div class="mb-2 row">
        <label for="exercises" class="col-lg-1 col-md-2 col-form-label">Exercise</label>
        <div class="col-lg-3 col-md-4">
          <select name="exercises" class="form-control" [(ngModel)]="selectedAssignmentId">
            <option [ngValue]="0" selected>Overview</option>
            <option *ngFor="let exercise of model.exercises" [ngValue]="exercise.assignmentId">
              {{exercise.code}}
            </option>
          </select>
        </div>

        <label for="users" class="col-lg-1 col-md-2 col-form-label">User</label>
        <div class="col-lg-3 col-md-4">
          <input id="users"
                 name="users"
                 type="text"
                 class="form-control"
                 [(ngModel)]="selectedUser"
                 [ngbTypeahead]="searchUsers"
                 (click)="onUserClick()"
                 [inputFormatter]="formatUser"
                 [resultFormatter]="formatUser"
                 #instance="ngbTypeahead"
                 [readonly]="model.users.length <= 1" />
        </div>

        <label for="date" class="col-lg-1 col-md-2 col-form-label">Status on</label>
        <div class="col-lg-3 col-md-4">
          <app-ng-datetime [(date)]="selectedDate"></app-ng-datetime>
        </div>

      </div>
    </form>
    <ngx-loading [show]="loading"></ngx-loading>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-chapter-summary *ngIf="selectedAssignmentId <= 0" [courseId]="courseId" [chapterCode]="chapterCode"
      [userId]="selectedUser?.id" [statusDate]="selectedDate">
    </app-chapter-summary>

    <app-assignment-detail *ngIf="selectedAssignmentId > 0" [assignmentId]="selectedAssignmentId" 
      [userId]="selectedUser?.id" [statusDate]="selectedDate">
    </app-assignment-detail>
  </div>
</div>
