


<nav class="navbar navbar-expand-md navbar-light bg-light">

    <a class='navbar-brand' [routerLink]="['/home']">Guts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['/home']" [routerLinkActive]="['active']" class="nav-link">
                    <span class='oi oi-home'></span> Home
                </a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn()">
                <a [routerLink]="['/login']" [routerLinkActive]="['active']" class="nav-link">
                    <span class='oi oi-account-login'></span> Log in
                </a>
            </li>

            <li class="nav-item" *ngFor="let course of courses">
                <a [routerLink]="['/courses', course.id]" [routerLinkActive]="['active']" class="nav-link">
                    <span class='oi oi-book'></span> {{course.name}}
                </a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn()">
                <a href="#" (click)="logout()" [routerLinkActive]="['active']" class="nav-link">
                    <span class='oi oi-account-logout'></span> Log out
                </a>
            </li>
        </ul>
    </div>
</nav>

