<div class="row">
  <div class="col-md-12">
    <form *ngIf="model.teams.length > 0">
      <div class="form-group row">
        <label for="components" class="col-md-2 col-xl-1 col-form-label">Component</label>
        <div class="col-md-10 col-md-4 col-xl-3">
          <select name="components" class="form-control" [(ngModel)]="selectedAssignmentId" (ngModelChange)="onSelectionChanged()">
            <option [ngValue]="0" selected>Overview</option>
            <option *ngFor="let component of model.components" [ngValue]="component.assignmentId">
              {{component.code}}
            </option>
          </select>
        </div>

        <label for="teams" class="col-md-2 col-xl-1 col-form-label">Team</label>
        <div class="col-md-10 col-md-4 col-xl-3">
          <select name="teams" class="form-control" [(ngModel)]="selectedTeamId" (ngModelChange)="onSelectionChanged()">
            <option *ngFor="let team of model.teams" [ngValue]="team.id">
              {{team.name}}
            </option>
          </select>
        </div>

        <label for="date" class="col-md-2 col-xl-1 col-form-label">Status on</label>
        <div class="col-md-10 col-md-4 col-xl-3">
          <angular2-date-picker name="date" [(ngModel)]="selectedDate" [settings]="datePickerSettings" (onDateSelect)="onDateChanged()"></angular2-date-picker>
        </div>

      </div>
    </form>
    <ngx-loading [show]="loading"></ngx-loading>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
