<app-loading-overlay [show]="loading"></app-loading-overlay>
<div class="col-md-8 col-lg-7">
  <h2>Change password</h2>
  @if (!success) {
    <form
      name="form"
      (ngSubmit)="f.form.valid && changePassword()"
      #f="ngForm"
      novalidate
    >
      <div class="row mb-2">
        <label for="currentPassword" class="col-3 col-form-label">
          Current password
        </label>
        <div class="col-8">
          <input
            type="password"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            [(ngModel)]="model.currentPassword"
            #currentPassword="ngModel"
            [class.is-invalid]="f.submitted && !currentPassword.valid"
            required
          />
          @if (f.submitted && !currentPassword.valid) {
            <div class="text-danger">Current password is required.</div>
          }
        </div>
      </div>

      <div class="row mb-2">
        <label for="newPassword" class="col-3 col-form-label">
          New password
        </label>
        <div class="col-8">
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            [(ngModel)]="model.newPassword"
            #newPassword="ngModel"
            [class.is-invalid]="f.submitted && !newPassword.valid"
            required
          />
          @if (f.submitted && !newPassword.valid) {
            <div class="text-danger">New password is required.</div>
          }
        </div>
      </div>

      <div class="row mb-2">
        <label for="repeatNewPassword" class="col-3 col-form-label">
          Repeat new password
        </label>
        <div class="col-8">
          <input
            type="password"
            class="form-control"
            id="repeatNewPassword"
            name="repeatNewPassword"
            [(ngModel)]="model.repeatNewPassword"
            #repeatNewPassword="ngModel"
            [class.is-invalid]="
              f.submitted &&
              (!repeatNewPassword.valid ||
                repeatNewPassword.value !== newPassword.value)
            "
            required
          />
          @if (f.submitted && !repeatNewPassword.valid) {
            <div class="text-danger">Repeat new password is required.</div>
          }
          @if (f.submitted && repeatNewPassword.value !== newPassword.value) {
            <div class="text-danger">Passwords don't match.</div>
          }
        </div>
      </div>

      <div class="mb-2">
        <button [disabled]="loading" class="btn btn-primary" type="submit">
          Change password
        </button>
      </div>
      @if (error) {
        <pre class="alert alert-danger">{{ error }}</pre>
      }
    </form>
  }
  @if (success) {
    <div class="alert alert-success">
      <p>Your password has been changed successfully.</p>
    </div>
  }
</div>
