<div class="mb-2">
  <span *ngIf="model.id > 0">{{model.name}}</span>
  <button class="btn btn-sm ml-3 btn-light" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="fa fa-plus" *ngIf="model.id > 0 && isCollapsed"></span>
    <span class="fa fa-minus" *ngIf="model.id > 0 && !isCollapsed"></span>
    <span *ngIf="model.id <= 0">Add new part</span>
  </button>
</div>
<div [ngbCollapse]="isCollapsed">
  <div class="card card-body">
    <form name="form" (ngSubmit)="f.form.valid && saveExampart()" #f="ngForm" novalidate>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" #name="ngModel"
            required [ngClass]="{ 'is-invalid': f.submitted && !name.valid }" [disabled]="model.id > 0" />
          <div class="invalid-feedback">Name is required</div>
        </div>
        <div class="form-group col-md-6">
          <label for="deadlinedate">Deadline date and time</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" id="deadlinedate" name="deadlinedate"
              [(ngModel)]="model.deadlineDate" ngbDatepicker #d="ngbDatepicker" [disabled]="model.id > 0" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <span class="fa fa-calendar"></span>
              </button>
            </div>
          </div>
          <ngb-timepicker name="deadlinetime" [(ngModel)]="model.deadlineTime" [disabled]="model.id > 0">
          </ngb-timepicker>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-12">
          <h6>Assignments</h6>
          <div>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let assignmentEvaluation of model.assignmentEvaluations">
                <span>
                  {{getAssignmentName(assignmentEvaluation.assignmentId)}}
                </span>
                <span>, Maximum score: </span>
                <span class="badge badge-primary badge-pill">{{assignmentEvaluation.maximumScore}}</span>
                <span>, #tests green at start: </span>
                <span
                  class="badge badge-primary badge-pill">{{assignmentEvaluation.numberOfTestsAlreadyGreenAtStart}}</span>
              </li>
              <li class="list-group-item" *ngIf="model.id <= 0">
                <form class="form-inline" [formGroup]="newAssignmentEvaluationForm"
                  (ngSubmit)="newAssignmentEvaluationForm.valid && addAssignment()">
                  <select class="form-control mb-2 mr-sm-2" id="assignmentId" formControlName="assignmentId"
                    [(ngModel)]="newAssigmnentEvaluation.assignmentId" [class.is-invalid]="assignmentId.invalid">
                    <option value="0">Select an assignment</option>
                    <option [ngValue]="assignment.assignmentId" *ngFor="let assignment of allAssignments">
                      <span>{{assignment.topicDescription}} - {{assignment.description || assignment.code}}</span>
                    </option>
                  </select>
                  <input type="number" id="maximumScore" class="form-control mb-2 mr-sm-2"
                    formControlName="maximumScore" [(ngModel)]="newAssigmnentEvaluation.maximumScore"
                    [class.is-invalid]="maximumScore.invalid" id="maximumScore" name="maximumScore"
                    placeholder="Maximum score">
                  <input type="number" id="numberOfTestsAlreadyGreenAtStart" class="form-control mb-2 mr-sm-2"
                    formControlName="numberOfTestsAlreadyGreenAtStart"
                    [(ngModel)]="newAssigmnentEvaluation.numberOfTestsAlreadyGreenAtStart"
                    [class.is-invalid]="numberOfTestsAlreadyGreenAtStart.invalid" placeholder="#tests green at start">
                  <button type="submit" class="btn btn-primary mb-2"
                    [disabled]="newAssignmentEvaluationForm.invalid">Add</button>
                </form>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="form-group" *ngIf="model.id <= 0">
        <button class="btn btn-primary btn-sm" type="submit">Add exam part</button>
      </div>
      <div class="form-group" *ngIf="model.id > 0">
        <button class="btn btn-primary btn-sm" (click)="deleteExampart()">
          <span>Delete exam part</span>
        </button>
      </div>
    </form>
  </div>
</div>