<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
  <div class="col-12">
    <h5>Settings</h5>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <form
      [formGroup]="editProjectForm"
      (ngSubmit)="onSubmit()"
      #editForm="ngForm"
    >
      <div class="row mb-2">
        <label for="name" class="col-3 col-form-label">Code</label>
        <div class="col-9">
          <input
            type="text"
            class="form-control"
            id="code"
            formControlName="code"
            readonly="readonly"
          />
        </div>
      </div>

      <div class="row mb-2">
        <label for="name" class="col-3 col-form-label">Description</label>
        <div class="col-9">
          <input
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
            [class.is-invalid]="isInvalid(editProjectForm.controls.description)"
          />
          <div
            *ngIf="isInvalid(editProjectForm.controls.description)"
            class="text-danger"
          >
            Project description is required.
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="editProjectForm.pristine || !editProjectForm.valid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-12">
    <div class="card mb-2">
      <h5 class="card-header">Components</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12" *ngFor="let component of project.components">
            <app-assignment-settings
              [assignment]="component"
              assignmentKind="component"
              (assignmentChanged)="onAssignmentChanged($event)"
            ></app-assignment-settings>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
