<div class="row">
  <div class="col-12">
    <h5>Team</h5>
  </div>
</div>

<div class="row mb-2" *ngIf="myTeam">
  <div class="col-md-6">
    <ngb-accordion activeIds="myTeamPanel">
      <ngb-panel [title]="myTeam.name" id="myTeamPanel">
        <ng-template ngbPanelContent>
          <ul class="list-group mb-3">
            <li class="list-group-item" *ngFor="let member of myTeam.members">{{member.name}}</li>
          </ul>
          <p>
            <button type="button" class="btn btn-outline-warning" (click)="leaveMyTeam()">Leave {{myTeam.name}}</button>
            <button type="button" class="btn btn-outline-primary ms-2"
                    *ngIf="userProfile.isLector()" (click)="openTeamEditModal(myTeam)">
              <span class="fa fa-pencil pe-2"></span>
              <span>Edit team</span>
            </button>
          </p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<div class="row" *ngIf="(!myTeam || userProfile.isLector()) && teams.length > 0">
  <div class="col-md-6">
    <div class="alert alert-primary" *ngIf="!myTeam">
      Please join a team...
    </div>
    <ngb-accordion [closeOthers]="true">
      <ngb-panel *ngFor="let team of teams">
        <ng-template ngbPanelTitle>
          <div>
            <span class="fa fa-users pe-2"></span>
            <span>{{team.name}}</span>
            <span class="badge text-bg-secondary ms-2">{{team.members.length}}</span>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul class="list-group mb-3">
            <li class="list-group-item text-warning" *ngIf="!team.members || team.members.length <=  0">
              This team has no
              members yet. Be the first to join...
            </li>
            <li class="list-group-item" *ngFor="let member of team.members">
              <span>{{member.name}}</span>
            </li>
          </ul>
          <p>
            <button type="button" class="btn btn-outline-primary" (click)="joinTeam(team.id)">
              <span class="fa fa-user-plus pe-2"></span>
              <span>Join {{team.name}}</span>
            </button>
          </p>
          <p *ngIf="userProfile.isLector()">
            <button type="button" class="btn btn-outline-secondary"
                    (click)="openTeamEditModal(team)">
              <span class="fa fa-pencil pe-2"></span>
              <span>Edit team</span>
            </button>
            <button type="button" class="btn btn-outline-danger ms-2"
                    (click)="deleteTeam(team)">
              <span class="fa fa-trash pe-2"></span>
              <span>Delete team</span>
            </button>
          </p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<div class="row mt-2" *ngIf="userProfile.isLector()">
  <div class="col-12">
    <button type="submit" class="btn btn-outline-success" (click)="openTeamAddModal()">
      <span class="fa fa-plus pe-2"></span>
      <span>Add team(s)</span>
    </button>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
