<div class="row">
  <div class="col-12">
    <h5>Team</h5>
  </div>
</div>

<div class="row" *ngIf="myTeam">
  <div class="col-md-6">
    <ngb-accordion activeIds="myTeamPanel">
      <ngb-panel [title]="myTeam.name" id="myTeamPanel">
        <ng-template ngbPanelContent>
          <ul class="list-group mb-3">
            <li class="list-group-item" *ngFor="let member of myTeam.members">{{member.name}}</li>
          </ul>
          <p>
            <button type="button" class="btn btn-warning" (click)="leaveMyTeam()">Leave {{myTeam.name}}</button>
          </p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<div class="row" *ngIf="!myTeam && teams.length > 0">
  <div class="col-md-6">
    <div class="alert alert-primary" role="alert">
      Please join a team...
    </div>
    <ngb-accordion [closeOthers]="true">
      <ngb-panel [title]="team.name" *ngFor="let team of teams">
        <ng-template ngbPanelContent>
          <ul class="list-group mb-3">
            <li class="list-group-item text-warning" *ngIf="!team.members || team.members.length <=  0">This team has no
              members yet. Be the first to join...</li>
            <li class="list-group-item" *ngFor="let member of team.members">{{member.name}}</li>
          </ul>
          <p>
            <button type="button" class="btn btn-primary" (click)="joinTeam(team.id)">Join {{team.name}}</button>
          </p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
<div class="row" *ngIf="userProfile.isLector()">
  <div class="col-md-6">
    <div class="card my-5">
      <div class="card-body">
        <h5 class="card-title">Generate teams</h5>
        <div class="card-text">
          <form #generateTeamsForm="ngForm" (ngSubmit)="onGenerateTeamsSubmit()">
            <div class="form-group row">
              <label for="teamBaseName" class="col-3 col-form-label">Team base name</label>
              <div class="col-7">
                <input type="text" name="teamBaseName" [(ngModel)]="teamBaseName" class="form-control" required />
              </div>
            </div>
      
            <div class="form-group row">
              <label for="numberOfTeams" class="col-3 col-form-label">From</label>
              <div class="col-2">
                <input type="number" name="teamNumberFrom" [(ngModel)]="teamNumberFrom" class="form-control"
                  required />
              </div>

              <label for="numberOfTeams" class="col-1 col-form-label">To</label>
              <div class="col-2">
                <input type="number" name="teamNumberTo" [(ngModel)]="teamNumberTo" class="form-control"
                  required />
              </div>
            </div>
      
            <div class="form-group row">
              <div class="col-md-10">
                <button type="submit" class="btn btn-primary" [disabled]="!generateTeamsForm.form.valid">Generate
                  teams</button>
              </div>
            </div>
          </form>
        </div>
      
      </div>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>