<h1>Write tests with NUnit</h1>

<p>
  Use the NUnit attributes from Guts.Client.NUnit when you want your automated
  tests to report results to the GUTS backoffice.
</p>

<h2>Required setup</h2>
<ul>
  <li>Add the Guts.Client.NUnit package to your test project.</li>
  <li>
    If your system under test is a WPF window, add
    [Apartment(ApartmentState.STA)] on the fixture.
  </li>
</ul>

<h2>Class-level attributes</h2>
<ul>
  <li>
    [ExerciseTestFixture(courseCode, chapterCode, exerciseCode,
    optionalSourcePaths)] Use this for tests of individual exercises within a
    chapter.
  </li>
  <li>
    [ProjectComponentTestFixture(courseCode, projectCode, componentCode,
    optionalSourcePaths)] Use this for tests of project components in team-based
    project work.
  </li>
</ul>

<h2>Exercise vs project-component tests in GUTS</h2>
<ul>
  <li>Exercises belong to chapters and are made individually.</li>
  <li>Project components belong to projects and are made in teams.</li>
  <li>Use [ExerciseTestFixture(...)] for chapter/exercise scenarios.</li>
  <li>
    Use [ProjectComponentTestFixture(...)] for project/component scenarios.
  </li>
</ul>

<h2>Parameters of [ExerciseTestFixture]</h2>
<ul>
  <li>
    courseCode: the code of the course in the GUTS system (provided by the GUTS
    administrator).
  </li>
  <li>
    chapterCode: the code of the chapter. You can choose this code. If a lector
    runs the tests and results are sent to https://guts-api.pxl.be/, a chapter
    with this code is created if it does not exist yet.
  </li>
  <li>
    exerciseCode: the code of the exercise. You can choose this code. If a
    lector runs the tests and results are sent to https://guts-api.pxl.be/, an
    exercise with this code is created in the chapter if it does not exist yet.
  </li>
  <li>
    optionalSourcePaths: optional semicolon-separated paths to the source files
    relevant for the test. These paths are relative to the solution directory.
    The contents of these files are sent to the GUTS backoffice.
  </li>
</ul>
<p>
  Note: all code parameters should be lowercase and contain no spaces. Use
  dashes or underscores if you want to separate words. The maximum length of a
  code is 20 characters.
</p>

<h2>Parameters of [ProjectComponentTestFixture]</h2>
<ul>
  <li>
    courseCode: the code of the course in the GUTS system (provided by the GUTS
    administrator).
  </li>
  <li>
    projectCode: the code of the project. You can choose this code. If a lector
    runs the tests and results are sent to https://guts-api.pxl.be/, a project
    with this code is created if it does not exist yet.
  </li>
  <li>
    componentCode: the code of the component. You can choose this code. If a
    lector runs the tests and results are sent to https://guts-api.pxl.be/, a
    component with this code is created if it does not exist yet.
  </li>
  <li>
    optionalSourcePaths: optional semicolon-separated paths to the source files
    relevant for the test. These paths are relative to the solution directory.
    The contents of these files are sent to the GUTS backoffice.
  </li>
</ul>
<p>
  Note: all code parameters should be lowercase and contain no spaces. Use
  dashes or underscores if you want to separate words. The maximum length of a
  code is 20 characters.
</p>

<h2>Method-level attribute</h2>
<ul>
  <li>
    [MonitoredTest] replaces [Test] for monitored runs. The name of the test
    method will be used as the test name in the GUTS backoffice. The camelcased
    method name will be split into separate words. For example,
    "ShouldBeAtLeast300PixelsWide" will be reported as "Should be at least 300
    pixels wide".
  </li>
  <li>
    [MonitoredTest("Custom test name")] sets a custom report name. Most of the
    time, the default name (based on the method name) will be sufficient. This
    is actually a deprecated overload.
  </li>
  <li>
    [MonitoredTest] can be used with [TestCase] for data-driven test methods.
  </li>
</ul>

<h2>How collection and submission works</h2>
<ul>
  <li>
    The fixture attribute initializes configuration and result sender
    dependencies.
  </li>
  <li>Each monitored test result is captured.</li>
  <li>Results are accumulated per test class.</li>
  <li>
    At class completion, the test results, hash of the test-code and contents of
    source files are sent to the GUTS backoffice.
  </li>
  <li>
    Results are only sent if all the tests of a fixture are run. If you run only
    a subset of the tests, no results will be sent to the GUTS backoffice.
  </li>
  <li>
    Results will only be accepted by the GUTS backoffice if the test-code hash
    matches one of the hashed registerd when the test class was run by a lector.
    This means that if a student changes the test code, the results will be
    rejected by the GUTS backoffice. This is to prevent tampering with the tests
    after a run has been made.
  </li>
</ul>

<h2>Minimal example</h2>
<pre><code language="csharp" [textContent]="minimalExampleCode"></code></pre>
