<div class="row">
    <div class="col-12">
        <h5>Peer assessments</h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Open on</th>
                    <th scope="col">Closed on</th>
                    <th scope="col">
                        <span>Team </span>
                        <select name="teams" [(ngModel)]="selectedTeamId"
                            (change)="loadProjectAssessments()">
                            <option *ngFor="let team of project.teams" [ngValue]="team.id">
                                {{team.name}}
                            </option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assessment of assessments">
                    <td>{{assessment.description}}</td>
                    <td>{{assessment.openOnDisplay}}</td>
                    <td>{{assessment.deadlineDisplay}}</td>
                    <td>
                        <div *ngIf="assessment.teamStatus.isComplete" >
                            <span class="bi-check-square text-success"></span>
                            <span class="text-success"> Completed</span>
                        </div>
                        <div *ngIf="!assessment.teamStatus.isComplete">
                            <div>
                                <span class="bi-x-square text-danger"></span>
                                <span *ngIf="assessment.isOpen" class="text-danger"> Not completed</span>
                                <span *ngIf="!assessment.isOpen" class="text-danger"> Not open</span>
                            </div>
                            <div *ngIf="assessment.teamStatus.peersThatNeedToEvaluateOthers.length > 0">
                                <em>Peers that need to evaluate others:</em>
                                <div *ngFor="let peer of assessment.teamStatus.peersThatNeedToEvaluateOthers">
                                    <span>{{peer.fullName}}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="assessment.isOpen && !assessment.teamStatus.isComplete && userProfile.isMemberOf(assessment.teamStatus.teamId)" class="m-2">
                            <a [routerLink]="['./', assessment.id, 'teams', selectedTeamId, 'evaluate']" class="btn btn-success">
                                <span class="bi-pencil-square"></span>
                                <span> Evaluate self and others</span>
                            </a>
                        </div>

                        <div *ngIf="assessment.teamStatus.isComplete && userProfile.isLector()" class="m-2">
                            <a [routerLink]="['./', assessment.id, 'teams', selectedTeamId, 'detailed-results']" class="btn btn-success">
                                <span class="bi-pencil-square"></span>
                                <span> View results</span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="row" *ngIf="userProfile.isLector()">
    <div class="col-6">
        <div class="card my-5">
            <div class="card-body">
              <h5 class="card-title">Add project assessment</h5>
              <div class="card-text">
                <form [formGroup]="assessmentForm" (ngSubmit)="onAssessmentSubmit()">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="description" class="col-3 col-form-label">Description</label>
                                <div class="col-9"
                                    [class.has-error]="descriptionControl.invalid && canShowErrors(descriptionControl)">
                                    <input type="text" class="form-control" formControlName="description">
                                    <div *ngIf="canShowErrors(descriptionControl)">
                                        <span class="text-danger" *ngIf="descriptionControl.errors?.required">
                                            Verplicht veld
                                        </span>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="openOn" class="col-3 col-form-label">Open on</label>
                                <div class="col-9" [class.has-error]="openOnControl.invalid && canShowErrors(openOnControl)">
                                    <app-ng-datetime name="openOn" formControlName="openOn"></app-ng-datetime>
                                    <div *ngIf="canShowErrors(openOnControl)">
                                        <span class="text-danger" *ngIf="openOnControl.errors?.required">
                                            Verplicht veld
                                        </span>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="deadline" class="col-3 col-form-label">Deadline</label>
                                <div class="col-9"
                                    [class.has-error]="deadlineControl.invalid && canShowErrors(deadlineControl)">
                                    <app-ng-datetime name="deadline" formControlName="deadline"></app-ng-datetime>
                                    <div *ngIf="canShowErrors(deadlineControl)">
                                        <span class="text-danger" *ngIf="deadlineControl.errors?.required">
                                            Verplicht veld
                                        </span>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-12">
                            <button type="submit" class="btn btn-sm btn-success padding-8"
                                [disabled]="assessmentForm.pristine">Add project assessment</button>
                        </div>
                    </div>
                </form>
              </div>
            
            </div>
          </div>
</div>