<app-loading-overlay [show]="loading"></app-loading-overlay>
<div class="row">
  <div class="col-12">
    <h5>Peer assessments</h5>
  </div>
</div>
<div class="row">
  <div class="col-12">
    @if (assessments.length > 0) {
      <table
        class="table table-bordered"
        aria-label="peer assessments"
        >
        <thead>
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Open on</th>
            <th scope="col">Closed on</th>
            <th scope="col">
              <span>Team </span>
              @if (project.teams.length > 0) {
                <select
                  name="teams"
                  [(ngModel)]="selectedTeamId"
                  (change)="loadProjectAssessments()"
                  >
                  @for (team of project.teams; track team) {
                    <option [ngValue]="team.id">
                      {{ team.name }}
                    </option>
                  }
                </select>
              }
            </th>
            @if (userProfile.isLector() && activePeriod) {
              <th></th>
            }
          </tr>
        </thead>
        <tbody>
          @for (assessment of assessments; track assessment) {
            <tr>
              <td>{{ assessment.description }}</td>
              <td>{{ assessment.openOnDisplay }}</td>
              <td>{{ assessment.deadlineDisplay }}</td>
              <td>
                @if (assessment.teamStatus.isComplete) {
                  <div>
                    <span class="bi-check-square text-success"></span>
                    <span class="text-success"> Completed</span>
                  </div>
                }
                @if (!assessment.teamStatus.isComplete) {
                  <div>
                    <div>
                      <span class="bi-x-square text-danger"></span>
                      @if (assessment.isOpen) {
                        <span class="text-danger">
                          Not completed</span
                          >
                        }
                        @if (!assessment.isOpen) {
                          <span class="text-danger">
                            Not open</span
                            >
                          }
                        </div>
                        @if (
                          assessment.teamStatus.peersThatNeedToEvaluateOthers.length > 0
                          ) {
                          <div
                            >
                            <em>Peers that need to evaluate others:</em>
                            @for (
                              peer of assessment.teamStatus
                              .peersThatNeedToEvaluateOthers
                              ; track
                              peer) {
                              <div
                                >
                                <span>{{ peer.fullName }}</span>
                                @if (assessment.isOver) {
                                  <span class="text-danger">
                                    (Missed the closing deadline)
                                  </span>
                                }
                              </div>
                            }
                          </div>
                        }
                      </div>
                    }
                    @if (
                      assessment.isAfterOpenOn &&
                      !assessment.teamStatus.isComplete &&
                      userProfile.isMemberOf(assessment.teamStatus.teamId) &&
                      activePeriod
                      ) {
                      <div
                        class="m-2"
                        >
                        <a
                [routerLink]="[
                  './',
                  assessment.id,
                  'teams',
                  selectedTeamId,
                  'evaluate',
                ]"
                          class="btn btn-outline-success"
                          >
                          <span class="bi-pencil-square"></span>
                          <span> Evaluate self and others</span>
                        </a>
                      </div>
                    }
                    @if (assessment.teamStatus.isComplete && userProfile.isLector()) {
                      <div
                        class="m-2"
                        >
                        <a
                [routerLink]="[
                  './',
                  assessment.id,
                  'teams',
                  selectedTeamId,
                  'detailed-results',
                ]"
                          class="btn btn-outline-success"
                          >
                          <span class="bi-pencil-square"></span>
                          <span> View results</span>
                        </a>
                      </div>
                    }
                    @if (
                      assessment.teamStatus.isComplete &&
                      userProfile.isMemberOf(selectedTeamId)
                      ) {
                      <div
                        class="m-2"
                        >
                        <a
                [routerLink]="[
                  './',
                  assessment.id,
                  'teams',
                  selectedTeamId,
                  'my-result',
                ]"
                          class="btn btn-outline-success"
                          >
                          <span class="bi-pencil-square"></span>
                          <span> View my result</span>
                        </a>
                      </div>
                    }
                  </td>
                  @if (userProfile.isLector() && activePeriod) {
                    <td
                      class="text-center"
                      >
                      <button
                        type="submit"
                        class="btn btn-outline-success mb-2"
                        (click)="openAssessmentEditModal(assessment)"
                        >
                        <span class="fa fa-pencil pe-2"></span>
                        <span>Edit</span></button
                        ><br />
                        <button
                          type="submit"
                          class="btn btn-outline-danger"
                          (click)="deleteAssessment(assessment)"
                          >
                          <span class="fa fa-trash pe-2"></span>
                          <span>Delete</span>
                        </button>
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          }
          @if (assessments.length == 0) {
            <p>
              This project has no peer assessment configured yet.
            </p>
          }
        </div>
      </div>
      @if (userProfile.isLector() && activePeriod) {
        <div class="row">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-outline-success"
              (click)="openAssessmentAddModal()"
              >
              <span class="fa fa-plus pe-2"></span>
              <span>Add peer assessment</span>
            </button>
          </div>
        </div>
      }
