<div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate *ngIf="!registered">

    <div class="mb-2">
      <label for="firstname">First name</label>
      <input type="text" class="form-control" name="firstname" id="firstname" [(ngModel)]="model.firstName" #firstName="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && !firstName.valid }" />
      <div class="invalid-feedback">First name is required</div>
    </div>
    <div class="mb-2">
      <label for="lastname">Last name</label>
      <input type="text" class="form-control" name="lastname" id="lastname" [(ngModel)]="model.lastName" #lastName="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && !lastName.valid }" />
      <div class="invalid-feedback">Last name is required</div>
    </div>
    <div class="mb-2">
      <label for="email">Pxl email address</label>
      <input type="text" class="form-control" name="email" id="email" [(ngModel)]="model.email" #email="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && !email.valid }" />
      <div class="invalid-feedback">Email is required</div>
    </div>
    <div class="mb-2">
      <label for="password">Choose a password</label>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && !password.valid }" />
      <div class="invalid-feedback">Password is required</div>
    </div>
    <div class="mb-2">
      <label for="repeatpassword">Repeat password</label>
      <input type="password" class="form-control" name="repeatpassword" id="repeatpassword" [(ngModel)]="model.repeatpassword" #repeatpassword="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && !repeatpassword.valid }" />
      <div class="invalid-feedback">Passwords don't match</div>
    </div>
    <div class="mb-2">
      <re-captcha (resolved)="resolved($event)" siteKey="6LeLmUAUAAAAAOCUOZyt1n_zz8FG6ayvDzvVtWbq"></re-captcha>
    </div>
    <div class="mb-2">
      <button [disabled]="loading" class="btn btn-primary" type="submit">Register</button>
    </div>
    <pre *ngIf="error" class="alert alert-danger">{{error}}</pre>
    <ngx-loading [show]="loading"></ngx-loading>
  </form>
  <div *ngIf="registered" class="alert alert-success">
    <p>
      A confirmation mail has been sent to your email address.<br />
      Please click on the link in the email address to complete your registration.
    </p>
  </div>
</div>
