@import "sandstone/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "sandstone/bootswatch";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

/*Tabs*/

.tab-content {
  border-left: 1px solid $gray-300;
  border-right: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  border-radius: .25rem;
  padding: .5rem;
  margin-bottom: .5rem;
}

.nav-tabs {
  .nav-item-main .nav-link {
    font-size : 1.1rem;
    border-bottom: $gray-300 1px dashed !important;
  }
}


/* Forms */
input[readonly] {
  background-color: $light;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
