<div class="card mb-2">
  <div class="card-body">
    <app-loading-overlay [show]="loading"></app-loading-overlay>
    <h5>
      <span>{{ assignment.description }}</span>
      <button
        class="btn btn-sm ms-2 btn-outline-danger"
        type="button"
        (click)="deleteAssignment(assignment)"
        >
        <span class="fa fa-trash pe-2"></span>
        <span>Delete {{ assignmentKind }}</span>
      </button>
    </h5>
    <ul class="list-group list-group-flush">
      @for (test of assignment.tests; track test) {
        <li class="list-group-item">
          <div class="mb-2">
            <span>{{ test.testName }}</span>
            <button
              class="btn btn-sm ms-2 btn-outline-danger"
              type="button"
              (click)="deleteTest(assignment, test)"
              >
              <span class="fa fa-trash pe-2"></span>
              <span>Delete test</span>
            </button>
          </div>
        </li>
      }
    </ul>
  </div>
</div>
